html {
    --card-bg-clr: rgb(15, 15, 15);
    --text-white: aliceblue;
    --border-white: rgb(135, 135, 135);
    --accent-color: rgb(30, 30, 30);
    --header-bg-clr: rgb(0, 0, 0);
    --shadow-light: 0px 0px 20px rgb(110, 110, 110);
    --text-secondary: rgb(165, 165, 165);
    --delete-clr: #EA4335;
    --read-clr: #34A853;
}

body {
    width: 100%;

    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
        'header'
        'cards';

    position: relative;

    font-family: Helvetica, Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    background-color: var(--header-bg-clr);

    display: flex;
    justify-content: center;
    align-items: center;

    grid-area: header;
    
    position: sticky;
    top: 0;

    
    & h1 {
        color: var(--text-white);
        position: absolute;
        left: 14px;
    }


    & button {
        width: 150px;
        height: 60%;

        font-size: x-large;

        padding: 8px 12px;

        background-color: var(--accent-color);
        color: var(--text-white);

        border: 2px solid var(--border-white);
        border-radius: 12px;

        &:hover,
        &:focus {
            border-color: var(--text-white);
            box-shadow: var(--shadow-light);
            cursor: pointer;
        }

    }
}


.cards {
    grid-area: cards;

    padding: 50px 45px;

    display: grid;
    grid-template-rows: repeat(3, 300px);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 38px;

    background-color: var(--accent-color);


    & .card {
        background-color: var(--card-bg-clr);

        border: 2px solid var(--border-white);
        border-radius: 12px;

        color: var(--text-white);
        
        display: grid;
        grid-template: 3fr 2fr / 1fr;
        grid-template-areas: 
            "info"
            "options";
        gap: 10px;


        &:hover,
        &:focus {
            border-color: var(--text-white);
            box-shadow: var(--shadow-light);
        }


        & .info {
            display: grid;
            grid-template: 2fr 1fr 1fr / 1fr;
            grid-template-areas:
                "title"
                "author"
                "pages";
            gap: 10px;
            
            padding: 30px;

            & .title {
                grid-area: title;
                justify-self: start;
    
                font-size: 1rem;
                
            }
    
            & .author {
                grid-area: author;
    
                font-size: 1rem;
                
                color: var(--text-secondary);
                
            }
    
            & .pages {
                grid-area: pages;
                
                font-size: 14px;

                color: var(--text-secondary);
            }
        }

        & .options {
            display: grid;
            grid-template: 1fr / 1fr 1fr;
            grid-template-areas:
                "delete read";

            
            border-top: 2px solid var(--border-white) ;            


            & > .delete {
                width: 100%;
                height: 100%;

                border-bottom-left-radius: 10px;
                border-right: 2px solid var(--border-white);

                background-color: var(--delete-clr);

                
                & button {
                    border: none;
                    
                    width: 100%;
                    height: 100%;
                    
                    background-color: transparent;

                    color: var(--text-white);

                    font-weight: bold;
                    
                    &:hover,
                    &:focus {
                        cursor: pointer;
                    }
                }

           }

           & > .read {
                width: 100%;
                height: 100%;

                border-bottom-right-radius: 10px;

                background-color: var(--read-clr);

                & button {
                    border: none;
                    
                    width: 100%;
                    height: 100%;

                    background-color: transparent;

                    color: var(--text-white);

                    font-weight: bold;

                    &:hover,
                    &:focus {
                        cursor: pointer;
                    }

                }

            }

        }

    }
}


dialog.add-book-modal[open] {
    width: max(30vw, 250px);
    height: 400px;

    margin: auto;

    background-color: var(--card-bg-clr);

    border: 2px solid var(--text-white);
    border-radius: 14px;

    box-shadow: var(--shadow-light);
    
    &::backdrop {
        backdrop-filter: blur(3px);
    }


    & form {
        width: 100%;
        height: 100%;

        display: grid;
        grid-template: repeat(4, 1fr) / 1fr 1fr;
        grid-template-areas: 
            'title title'
            'author author'
            'pages read'
            'cancel submit';

        justify-items: center;
        align-items: center;
    
        & > .ipt {
            
            width: 70%;
            height: 45px;

            color: var(--text-white);
            

            & > input {
                height: 100%;
                width: 100%;

                padding: 5px 10px;

                background-color: var(--card-bg-clr);

                color: var(--text-white);

                border: 2px solid var(--border-white);
                border-radius: 12px;

                &:hover,
                &:focus {
                    border-color: var(--text-white);
                    box-shadow: var(--shadow-light);
                    cursor: pointer;
                }
                
            }

            & > button {
                height: 100%;
                width: 100%;

                font-size: large;

                padding: 8px 12px;

                background-color: var(--accent-color);
                color: var(--text-white);

                border: 2px solid var(--border-white);
                border-radius: 12px;

                &:hover,
                &:focus {
                    border-color: var(--text-white);
                    box-shadow: var(--shadow-light);
                    cursor: pointer;
                }
            }
        }
        
        & > .ipt.title {
            grid-area: title;
        }

        & > .ipt.author {
            grid-area: author;
        }
    
        & > .ipt.pages {
            grid-area: pages;
        }
    
        & > .ipt.read {
            grid-area: read;

            display: flex;
            justify-content: space-evenly;
            align-items: center;

            & > input {
                height: 30px;
                width: 30px;

            }
        }
    
        & > .ipt.submit {
            grid-area: submit;

        }
    
        & > .ipt.cancel {
            grid-area: cancel;

        }
        
    }
    
    
}