html {
    --card-bg-clr: rgb(15, 15, 15);
    --text-white: aliceblue;
    --border-white: rgb(135, 135, 135);
    --accent-color: rgb(30, 30, 30);
    --header-bg-clr: rgb(0, 0, 0);
    --shadow-light: 0px 0px 20px rgb(110, 110, 110);
}

body {
    width: 100%;

    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
        'header'
        'cards';

    position: relative;
}

.header {
    background-color: var(--header-bg-clr);

    display: flex;
    justify-content: center;
    align-items: center;

    grid-area: header;
    
    position: sticky;
    top: 0;

    
    & h1 {
        color: var(--text-white);
        position: absolute;
        left: 14px;
    }


    & button {
        width: 150px;
        height: 60%;

        font-size: x-large;

        padding: 8px 12px;

        background-color: var(--accent-color);
        color: var(--text-white);

        border: 1px solid var(--border-white);
        border-radius: 12px;

        &:hover,
        &:focus {
            border-color: var(--text-white);
            box-shadow: var(--shadow-light);
            cursor: pointer;
        }

    }
}


.cards {
    grid-area: cards;

    padding: 50px 45px;

    display: grid;
    grid-template-rows: repeat(3, 300px);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 38px;

    background-color: var(--accent-color);


    & .card {
        background-color: var(--card-bg-clr);

        border: 2px solid var(--border-white);
        border-radius: 12px;

        color: var(--text-white);
        
        display: grid;
        grid-template: 3fr 1fr 1fr / 1fr 1fr;


        &:hover,
        &:focus {
            border-color: var(--text-white);
            box-shadow: var(--shadow-light);
            cursor: pointer;
        }


        & h2 {
            grid-area: 1 / 1 / 2 / -1;
            justify-self: center;
            align-self: center;

            text-align: center;

            border-bottom: 1px solid var(--border-white);

        }

        & h3 {
            grid-area: 2 / 1 / 3 / 3;
            justify-self: center;
            align-self: center;
        }

        & p {
            justify-self: center;
            align-self: center;
        }

    }
}


dialog.add-book-modal {
    width: max(40vw, 300px);
    height: 40vh;

    margin: auto;

    background-color: var(--card-bg-clr);

    border: 2px solid var(--text-white);
    border-radius: 14px;

    box-shadow: var(--shadow-light);

    &::backdrop {
        backdrop-filter: blur(3px);
    }

}