html {
    --card-bg-clr: rgb(15, 15, 15);
    --text-white: aliceblue;
    --border-white: rgb(135, 135, 135);
    --accent-color: rgb(30, 30, 30);
    --header-bg-clr: rgb(0, 0, 0);
    --shadow-light: 0px 0px 20px rgb(110, 110, 110);
    --text-secondary: rgb(165, 165, 165);
    --delete-clr: #EA4335;
    --read-clr: #34A853;
    --focus-blue: #4285F4;
    --unread-clr: #ffa600;
}

@font-face {
    font-family: 'allerbold';
    src: url('./aller_bd-webfont.woff2') format('woff2'),
         url('./aller_bd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'allerregular';
    src: url('./aller_rg-webfont.woff2') format('woff2'),
         url('./aller_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
        'header'
        'cards';

    position: relative;

    font-family: 'allerregular', Helvetica, Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    background-color: var(--header-bg-clr);

    display: flex;
    justify-content: center;
    align-items: center;

    grid-area: header;
    
    position: sticky;
    top: 0;

    
    & h1 {
        color: var(--text-white);
        position: absolute;
        left: 14px;
    }


    & button {
        width: 150px;
        height: 60%;

        font-size: x-large;

        padding: 8px 12px;

        background-color: var(--accent-color);
        color: var(--text-white);

        border: 2px solid var(--border-white);
        border-radius: 12px;

        &:hover,
        &:focus {
            border-color: var(--text-white);
            box-shadow: var(--shadow-light);
            cursor: pointer;
        }

    }
}


.cards {
    grid-area: cards;

    padding: 50px 45px;

    display: grid;
    grid-template-rows: repeat(3, 300px);
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 38px;

    background-color: var(--accent-color);


    & .card {
        background-color: var(--card-bg-clr);

        border: 2px solid var(--border-white);
        border-radius: 12px;

        color: var(--text-white);
        
        display: grid;
        grid-template: 1fr 60px / 1fr;
        grid-template-areas: 
            "info"
            "options";
        gap: 10px;


        &:hover,
        &:focus {
            border-color: var(--text-white);
            box-shadow: var(--shadow-light);
        }


        & .info {
            display: grid;
            grid-template: 2fr 1fr 1fr / 1fr;
            grid-template-areas:
                "title"
                "author"
                "pages";
            gap: 10px;
            
            padding: 30px;

            & .title {
                grid-area: title;
                justify-self: start;
                
                font-family: 'allerbold';
                font-size: 1rem;
                
            }
    
            & .author {
                grid-area: author;
    
                font-size: 1rem;
                
                color: var(--text-secondary);
                
            }
    
            & .pages {
                grid-area: pages;
                
                font-size: 14px;

                color: var(--text-secondary);
            }
        }

        & .options {
            display: grid;
            grid-template: 1fr / 1fr 1fr;
            grid-template-areas:
                "delete read";

            
            border-top: 2px solid var(--border-white) ;            


            & > .delete {
                width: 100%;
                height: 100%;

                border-right: 2px solid var(--border-white);

                
                & button {
                    border: none;
                    
                    width: 100%;
                    height: 100%;

                    color: var(--text-white);

                    font-weight: bold;
                    
                    background-color: var(--delete-clr);
                    opacity: 0.5;

                    border-bottom-left-radius: 10px;

                    &:hover,
                    &:focus {
                        cursor: pointer;
                        opacity: 1;
                    }
                }

           }

           & > .read {
                width: 100%;
                height: 100%;


                & button {
                    border: none;
                    
                    width: 100%;
                    height: 100%;

                    border-bottom-right-radius: 10px;

                    background-color: var(--read-clr);

                    opacity: 0.5;

                    color: var(--text-white);

                    font-weight: bold;

                    &:hover,
                    &:focus {
                        cursor: pointer;
                        opacity: 1;
                    }

                    &#unread {
                        background-color: var(--unread-clr);
                    }

                }

            }

        }

    }
}


dialog.add-book-modal[open] {
    width: 30vw;
    min-width: 330px;
    height: 400px;

    margin: auto;
    padding: 0;

    background-color: var(--card-bg-clr);

    border: 2px solid var(--text-white);
    border-radius: 14px;

    box-shadow: var(--shadow-light);
    
    overflow: hidden;

    &::backdrop {
        backdrop-filter: blur(4px);
    }


    & form {
        width: 100%;
        height: 100%;
    

        & .card {
            background-color: var(--card-bg-clr);

            width: 100%;
            height: 100%;
    
            color: var(--text-white);
            
            display: grid;
            grid-template: 1fr 60px / 1fr;
            grid-template-areas: 
                "info"
                "options";
    
    
            & .info {
                display: grid;
                grid-template: 3fr 2fr 1fr 1fr / 1fr;
                grid-template-areas:
                    "title"
                    "author"
                    "pages"
                    "read";
                gap: 10px;
                
                padding: 24px;

    
                & .title {
                    grid-area: title;
                    justify-self: start;
                    
                    width: 100%;
                    font-size: 1rem;
                    
                    & > input {
                        color: var(--text-white);

                        background-color: var(--accent-color);

                        height: 70%;
                        width: 100%;

                        font-size: 26px;

                        padding: 5px 10px;

                        border: 2px solid var(--border-white);
                        border-radius: 12px;

                        outline: none;

                        &:focus,
                        &:hover {
                            border-color: var(--focus-blue);
                        }

                    }
                }
        
                & .author {
                    grid-area: author;
        
                    font-size: 1rem;
                    
                    color: var(--text-secondary);

                    
                    & > input {
                        color: var(--text-white);

                        background-color: var(--accent-color);

                        height: 70%;
                        width: 100%;

                        font-size: 20px;

                        padding: 5px 10px;

                        border: 2px solid var(--border-white);
                        border-radius: 12px;

                        outline: none;

                        &:focus,
                        &:hover {
                            border-color: var(--focus-blue);
                        }

                    }
                    
                }
        
                & .pages {
                    grid-area: pages;
    
                    color: var(--text-secondary);

                    display: flex;
                    justify-content: center;

                    & > input {
                        color: var(--text-white);

                        background-color: var(--accent-color);

                        height: 100%;
                        width: 50%;

                        font-size: 14px;

                        padding: 5px 10px;

                        border: 2px solid var(--border-white);
                        border-radius: 12px;

                        outline: none;

                        &:focus,
                        &:hover {
                            border-color: var(--focus-blue);
                        }

                    }
                }

                & .read {
                    grid-area: read;
                    
                    font-size: 14px;
    
                    color: var(--text-secondary);

                    padding: 0 50px;

                    display: flex;
                    gap: 20px;
                    justify-content: center;
                    align-items: center;
                    

                    & > input {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
    
            & .options {
                display: grid;
                grid-template: 1fr / 1fr 1fr;
                grid-template-areas:
                    "delete read";
    
                
                border-top: 2px solid var(--border-white) ;            
    
    
                & > .cancel {
                    width: 100%;
                    height: 100%;
                    
                    border-right: 2px solid var(--border-white);
    
                    
                    & button {
                        border: none;
                        
                        width: 100%;
                        height: 100%;
                        
                        background-color: var(--delete-clr);
                        opacity: 0.5;

                        border-bottom-left-radius: 10px;
    
                        color: var(--text-white);
    
                        font-weight: bold;
                        
                        &:hover,
                        &:focus {
                            cursor: pointer;
                            opacity: 1;
                        }
                    }
    
               }
    
               & > .submit {
                    width: 100%;
                    height: 100%;
    
    
                    & button {
                        border: none;
                        
                        width: 100%;
                        height: 100%;
    
                        border-bottom-right-radius: 10px;
    
                        background-color: var(--read-clr);
                        opacity: 0.5;
    
                        color: var(--text-white);
    
                        font-weight: bold;
    
                        &:hover,
                        &:focus {
                            cursor: pointer;
                            opacity: 1;
                        }
    
                    }
    
                }
    
            }
    
        }
        
    }
    
    
}